@import url('./styles.css');

.gallery-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.gallery-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px
}

.work-img-container{
  position: relative;
}

#heart {
  display: none;
  position: absolute;
  top: 42%;
  left: 50%;
  width: 100px;
  height: 90px;
  transform: translate(-50%, -50%);
}

#heart:before, #heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: black;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.liked #heart:before, .liked #heart:after{
  background: red;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.work-img-container img:hover{
  opacity: .5;
}

.work-img-container img:hover ~ #heart{
  display: block;
}

.block1{
  background-color: #1F3B3F;
}

.block2{
  gap: 150px
}

.block2 .credit-container{
  padding-top: 10px;
}

.block2 > .item{
  flex: 0 0 35%
}

.gallery-section img{
  width: 100%
}

.item{
  width: 25vw
}

.gallery-header{
  font-size: 48px;
  text-align: center;
}

.work-text{
  font-size: 36px;
}

.work-text-button{
  color: white;
  border: solid 3px white;
  background: transparent;
  padding: 7px 15px 
}

.bg-color{
  width: 100vw;
  height: 40vh;
  background-color: black;
}

.work-text-header{
  text-align: center;
}

