@import url('./styles.css');

.gallery-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.gallery-section{
  display: flex;
  gap: 50px
}

.gallery-header{
  font-size: 48px;
  text-align: center;
}

.work-text{
  font-size: 36px;
}

.work-text-button{
  color: white;
  border: solid 3px white;
  background: transparent;
  padding: 7px 15px 
}
