<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="{{url_for('static', filename='gallery.css')}}">
  </head>

  <body>
    <div class="header">
      <a href="{{url_for('main_page')}}" class="logo">LOGO</a>
      <div class="header-menu">
        <a href="{{url_for('van_gock')}}" class="menu-element">Ван Гок</a>
        <a href="{{url_for('works')}}" class="menu-element">История Работ</a>
        <a href="" class="menu-element">Критики</a>
        <a href="{{url_for('gallery')}}" class="menu-element">Галерея</a>
      </div>
      
      {% if 'username' in session %}
        <div class="btns-container">        
          <button onclick="location.href='/profile'" class="menu-element">Профиль</button>
        </div>
      {% else %}
        <div class="reg-container-header">
          <button onclick="location.href='/sign-up'" class="menu-element">Регистрация</button>
          <button onclick="location.href='/sign-in'" class="menu-element">Войти</button>
        </div>
      {% endif %}
    </div>      

    <div class="gallery-main-container"> 
      <h2 class="gallery-header">Автопортреты</h2>
      
      <div class="gallery-section">
        <div class="work-img-container">
          <img 
            src="{{url_for('static', filename='gallery/header_img.png')}}"
            alt="Resource not found"
            class="work-img">
    
          <div class="credit-container">
            <span class="img-info">Self-Portrait 1887</span>
            <span class="img-info">Oil on artist's board, mounted on cradled panel</span>
            <span class="img-info museum">41 × 32.5 cm (16 1/8 × 12 13/16 in.)</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>

        <div class="work-text-container">
          <p class="work-text">
            За свою творческую жизнь Ван Гог написал множество автопортретов. Для него это было одной
            из форм самопознания и самовыражения. Он изображал себя в различные периоды жизни, всегда
            ясно передавая свое эмоциональное состояние и душевные переживания.
          </p>

          <a href="#gallery" class="work-text-button">К работам</a>
        </div>
      </div>

      <div class="gallery-section block1" id="gallery">
        {% for item in self_portraits %}
        <div class="work-img-container item">
          <img 
            src="{{item.url}}"
            alt="Resource not found"
            class="work-img">
    
          <div class="credit-container">
            <span class="img-info">{{item.img_info}}</span>
            <span class="img-info museum">{{item.dimens}}</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>
        {% endfor %}
      </div>

      <h2 class="gallery-header">Серия подсолнухов</h2>
      <div class="gallery-section block2">
        {% for item in sunflowers %}
        <div class="work-img-container item">
          <img 
            src="{{item.url}}"
            alt="Resource not found"
            class="block2-img">
    
          <div class="credit-container">
            <span class="img-info">{{item.img_info}}</span>
            <span class="img-info museum">{{item.dimens}}</span>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="gallery-section">
        <div class="work-img-container">
          <img 
            src="{{url_for('static', filename='gallery/header_img2.png')}}"
            alt="Resource not found"
            class="work-img">
    
          <div class="credit-container">
            <span class="img-info">Self-Portrait 1887</span>
            <span class="img-info">Oil on artist's board, mounted on cradled panel</span>
            <span class="img-info museum">41 × 32.5 cm (16 1/8 × 12 13/16 in.)</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>
        
        <div class="work-text-container">
          <h1 class="work-text-header">Работы из Арля</h1>

          <p class="work-text">
            За свою творческую жизнь Ван Гог написал множество автопортретов. Для него это было одной
            из форм самопознания и самовыражения. Он изображал себя в различные периоды жизни, всегда
            ясно передавая свое эмоциональное состояние и душевные переживания.
          </p>
        </div>
      </div>

      <div class="gallery-section">
        {% for item in arl_works %}
          <div class="work-img-container item">
            <img 
              src="{{item.url}}"
              alt="Resource not found"
              class="block2-img">
      
            <div class="credit-container">
              <span class="img-info">{{item.img_info}}</span>
              <span class="img-info museum">{{item.dimens}}</span>
            </div>
          </div>
        {% endfor %}
      </div>

      <h2 class="gallery-header">Авторские работы</h2>
      <div class="gallery-section block2">
        {% for item in author_copies %}
        <div class="work-img-container">
          <img 
            src="{{item.url}}"
            alt="Resource not found"
            class="block2-img">
    
          <div class="credit-container">
            <span class="img-info">{{item.img_info}}</span>
            <span class="img-info museum">{{item.dimens}}</span>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script>
        $(".gallery-list").magnificPopup({
            delegate: "a",
            type: "image",
            gallery: {
                enabled: true
            }
        });
    </script> -->
  </body>

</html>