<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея</title>

    <link rel="stylesheet" href="{{url_for('static', filename='gallery.css')}}">
  </head>

  <body>
    <div class="header">
      <a href="{{url_for('main_page')}}" class="logo">LOGO</a>
      <div class="header-menu">
        <a href="{{url_for('van_gock')}}" class="menu-element">Ван Гок</a>
        <a href="{{url_for('works')}}" class="menu-element">История Работ</a>
        <a href="{{url_for('gallery')}}" class="menu-element">Галерея</a>
      </div>
      
      {% if 'username' in session %}
        <div class="btns-container">        
          <button onclick="location.href='/profile'" class="menu-element">Профиль</button>
        </div>
      {% else %}
        <div class="reg-container-header">
          <button onclick="location.href='/sign-up'" class="menu-element">Регистрация</button>
          <button onclick="location.href='/sign-in'" class="menu-element">Войти</button>
        </div>
      {% endif %}
    </div>      

    <div class="gallery-main-container"> 
      <h2 class="gallery-header">Автопортреты</h2>
      
      <div class="gallery-section">
        <div class="work-img-container">
          <img 
            src="{{url_for('static', filename='gallery/header_img.png')}}"
            alt="Resource not found"
            class="work-img">
          
          <div id="heart"></div>

          <div class="credit-container">
            <span class="img-info">Self-Portrait 1887</span>
            <span class="img-info">Oil on artist's board, mounted on cradled panel</span>
            <span class="img-info museum">41 × 32.5 cm (16 1/8 × 12 13/16 in.)</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>

        <div class="work-text-container">
          <p class="work-text">
            За свою творческую жизнь Ван Гог написал множество автопортретов. Для него это было одной
            из форм самопознания и самовыражения. Он изображал себя в различные периоды жизни, всегда
            ясно передавая свое эмоциональное состояние и душевные переживания.
          </p>

          <a href="#gallery" class="work-text-button">К работам</a>
        </div>
      </div>

      <div class="gallery-section block1" id="gallery">
        {% for item in self_portraits %}
        <div class="work-img-container item">
          <img 
            src="{{item.url}}"
            alt="Resource not found"
            class="work-img">
    
          <div id="heart"></div>


          <div class="credit-container">
            <span class="img-info">{{item.img_info}}</span>
            <span class="img-info museum">{{item.dimens}}</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>
        {% endfor %}
      </div>

      <h2 class="gallery-header">Серия подсолнухов</h2>
      <div class="gallery-section block2">
        {% for item in sunflowers %}
        <div class="work-img-container item">
          <img 
            src="{{item.url}}"
            alt="Resource not found"
            class="block2-img">

          <div id="heart"></div>
            
          <div class="credit-container">
            <span class="img-info">{{item.img_info}}</span>
            <span class="img-info museum">{{item.dimens}}</span>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="gallery-section">
        <div class="work-img-container">
          <img 
            src="{{url_for('static', filename='gallery/header_img2.png')}}"
            alt="Resource not found"
            class="work-img">
    
          <div id="heart"></div>
    
          <div class="credit-container">
            <span class="img-info">Self-Portrait 1887</span>
            <span class="img-info">Oil on artist's board, mounted on cradled panel</span>
            <span class="img-info museum">41 × 32.5 cm (16 1/8 × 12 13/16 in.)</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>
        
        <div class="work-text-container">
          <h1 class="work-text-header">Работы из Арля</h1>

          <p class="work-text">
            За свою творческую жизнь Ван Гог написал множество автопортретов. Для него это было одной
            из форм самопознания и самовыражения. Он изображал себя в различные периоды жизни, всегда
            ясно передавая свое эмоциональное состояние и душевные переживания.
          </p>
        </div>
      </div>

      <div class="gallery-section">
        {% for item in arl_works %}
          <div class="work-img-container item">
            <img 
              src="{{item.url}}"
              alt="Resource not found"
              class="block2-img">
      
            <div id="heart"></div>

            <div class="credit-container">
              <span class="img-info">{{item.img_info}}</span>
              <span class="img-info museum">{{item.dimens}}</span>
            </div>
          </div>
        {% endfor %}
      </div>

      <h2 class="gallery-header">Авторские работы</h2>
      <div class="gallery-section block2">
        {% for item in author_copies %}
        <div class="work-img-container">
          <img 
            src="{{item.url}}"
            alt="Resource not found"
            class="block2-img">
    
          <div id="heart"></div>

          <div class="credit-container">
            <span class="img-info">{{item.img_info}}</span>
            <span class="img-info museum">{{item.dimens}}</span>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </body>

  <script>
    let items = document.getElementsByClassName('work-img-container')
    let url = 'http://127.0.0.1:43345/like_dislike';
    let username = '{{username}}'
    let logged_in

    if (username.length == 0){
      logged_in = false
    } else{
      logged_in = true
    }

    for (i of items){
      i.addEventListener('click', like_unlike)
    }
    
    function like_unlike(){
      const link = this.children[0].src

      if (logged_in){
        send_to_server(link)
      } 
      
      if (this.classList.value.includes('liked')){
        this.classList.remove('liked')
      } else{
        this.classList.add('liked')
      }
    }

    function send_to_server(data){
      fetch(url, {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data), 
      })
      .then(data => console.log('Success:', data))
      .catch((error) => console.error('Error:', error));
    }
  </script>
</html>