<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <title>Document</title>

    <link 
      rel="stylesheet"
      href="{{ url_for('static',
      filename='styles.css') }}"
    >

  </head>

  <body>
    <div class="header">
      <router-link to="/" class="logo">LOGO</router-link>
      <div class="header-menu">
          <a href="" class="menu-element">Ван Гок</a>
          <a href="" class="menu-element">История Работ</a>
          <a href="" class="menu-element">Критики</a>
          <a href="{{url_for('gallery')}}" class="menu-element">Галерея</a>
      </div>
      
      {% if 'username' in session %}
        <div class="btns-container">        
          <button onclick="location.href='/profile'" class="menu-element">Профиль</button>
        </div>
      {% else %}
        <div class="reg-container">
          <button onclick="location.href='/sign-up'" class="menu-element">Регистрация</button>
          <button onclick="location.href='/sign-in'" class="menu-element">Войти</button>
        </div>
      {% endif %}
    </div>      

    <div class="main-container">
      <article class="quote-container">
        <p id="quote">
          „Я вложил свое сердце и <br> душу в свою 
          <span id="highlight-work">работу</span>, 
          и я <br> сошел c ума в процессе.“
        </p>
        <span id="quote-author">— Винсент Ван Гок</span>
      </article>
    </div>

    <div class="main-container">
      <div id="Van-Gock-container">
        <img
          src="{{url_for('static', filename='main_imgs/VanGock.png')}}"
          alt="Resource not found"
          id="Van-Gock-img">

        <div id="about-text-container">
          <h1 id="about-header">Кратко про Винсента Ван Гока</h1>

          <p id="about-text">Винсе́нт Ви́ллем Ван Гог — нидерландский художник-постимпрессионист, чьи работы \
            оказали значительное влияние на живопись XX века. За десять с небольшим лет создал более \
            2 100 произведений, включая около 870 картин маслом. При жизни был практически обойдён \
            вниманием критиков.</p>
          <button class="call-to-action">в галерею</button>
        </div>
      </div>
    </div>

    <div class="main-container" id="works">
      <div class="work-element orange">
        <article class="work-text-container">
          <h1 class="work-header">Валуны и дуб</h1>
    
          <p class="work-text">Картина «Валуны и дуб» была написана летом 1888 года, когда \
            Винсент ван Гог жил в городке Арль, находящемся на юге Франции. Арльский период считается \
            наиболее плодотворным периодом творческой биографии художника. Пейзаж, изображённый на \
            картине, находился в гористой местности Монмажур  расположенной в нескольких  километрах \
            к северу от Арля. К тому же периоду относится серия набросков видов Монмажура, хранящаяся \
            в Музее Винсента ван Гога в Амстердаме.</p>
        </article>
        
        <div class="work-img-container">
          <img 
            src="{{url_for('static', filename='main_imgs/boulders.png')}}"
            alt="Resource not found"
            class="work-img">
    
          <div class="credit-container">
            <span class="img-info">Холст, масло. 54,9 x 65,7 см</span>
            <span class="img-info museum">Музей изящных искусств, Хьюстон</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>
      </div>     
      
      <div class="work-element cyan">
        <article class="work-text-container">
          <h1 class="work-header">Подсолнухи (1887-1889)</h1>
    
          <p class="work-text">«Подсо́лнухи» — название двух циклов картин нидерландского художника Винсента ван Гога. \
            Первая серия выполнена в Париже в 1887 году. Она посвящена лежащим цветам. Вторая серия \
            выполнена через год, в Арле. Она изображает букет подсолнухов в вазе. Две парижских картины \
            приобрёл друг ван Гога Поль Гоген.</p>
        </article>
        
        <div class="work-img-container">
          <img src="{{url_for('static', filename='main_imgs/sunflowers.png')}}" alt="Resource not found" class="work-img">
    
          <div class="credit-container">
            <span class="img-info">91 x 72 см,</span>
            <span class="img-info museum">Новая пинакотека, Мюнхен</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>
      </div>     
      
      <div class="work-element darkGreen">
        <article class="work-text-container">
          <h1 class="work-header">Портрет доктора Феликса Рея (1889).</h1>
    
          <p class="work-text">На картине изображён Феликс Рей, практикант в больнице Арля, где содержался Ван Гог. \
            Доктор Рей помогал художнику во время приступов, и в благодарность ван Гог написал этот портрет, \
            который, по свидетельству современников, получился очень похожим. Винсент ван Гог смог передать \
            основные черты доктора — физическую крепость и уверенность в себе. Однако Феликс Рей был равнодушен \
            к искусству и спрятал подаренную ему картину на чердаке. Потом она прикрывала дыру в курятнике. Лишь \
            в 1900 году художник Шарль Камоэн, оказавшись в Арле, обнаружил этот портрет во дворе доктора Рея.</p>
        </article>
        
        <div class="work-img-container">
          <img
            src="{{url_for('static', filename='main_imgs/doctorPortrait.png')}}"
            alt="Resource not found"
            class="work-img">
    
          <div class="credit-container">
            <span class="img-info">Холст, масло. 54,9 x 65,7 см</span>
            <span class="img-info museum">Пушкинский музей, Москва</span>
            <div class="line first-line"></div>
            <div class="line second-line"></div>
          </div>
        </div>
      </div>     
    </div>

  </body>
</html>