<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link 
      rel="stylesheet"
      href="{{ url_for('static',
      filename='styles.css') }}">

    <link 
      rel="icon"
      href="{{url_for('static', filename='favicon.ico')}}"
      type="image/x-icon">
  </head>

  <body>
    <header>
      <div class="btns-container">        
        <button onclick="location.href='/'" class="ghost-btn">Назад</button>
      </div>
    </header>

    <div class="profile-main-container">
      <h1 class="personal-cabinet">Личный кабинет</h1>
  
      <div class="personal-data">
        <h3 class="personal-data-header">Личные данные</h3>
  
        <div class="table">
          <div class="data-column data-key">
            <span>Имя:</span>
            <span>Почта:</span>
            <span>Пароль:</span>
          </div>
  
          <div class="data-column data-value">
            <span> {{username}} </span> 
            <span> {{email}} </span>
            <span> {{password}} </span>
          </div>
        </div>
        <button onclick="location.href='/log-out'" class="ghost-btn log-out-btn">Выйти</button> 
      </div>
    </div>
    
    <!-- <div class="profile-main-container">  
      {% for i in liked %}
        {{i}}
        <img src="{{url_for('static', filename=i)}}" alt="">
      {% endfor %}
    </div> -->
  </body>
</html>